* {
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100%;
    font-size: 10px;
   

}

.container {

    max-width: 350px;
    margin: 15px auto;

}

.card {

    background-color: #fff;
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 1rem;
    margin-top: 30%
}

.card img {

    width: 100%;
    border-radius: 12px;

}
/
.text {
    padding:22px 10px ;
   
}

.text h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}


.text p{

    color: hsl(220, 15%, 55%);
    
}

.attribution {

    font-size: 15px;
    text-align: center;
    color: hsl(228, 45%, 44%);
    padding-top: 10px;
    
   
}